<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gbdpcloud.mapper.ConfigurationMapper">
  <resultMap id="BaseResultMap" type="com.gbdpcloud.entity.Configuration">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="tools" jdbcType="VARCHAR" property="tools" />
    <result column="rule" jdbcType="VARCHAR" property="rule" />
    <result column="analyze" jdbcType="VARCHAR" property="analyze" />
    <result column="platform" jdbcType="VARCHAR" property="platform" />
    <result column="translater" jdbcType="VARCHAR" property="translater" />
    <result column="header" jdbcType="VARCHAR" property="header" />
    <result column="define" jdbcType="VARCHAR" property="define" />
    <result column="is_default" jdbcType="CHAR" property="is_default" />
    <result column="is_common" jdbcType="CHAR" property="is_common" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
    <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
    <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
    <result column="del_flag" property="delFlag" jdbcType="CHAR"/>
  </resultMap>
  <sql id="Base_Column_List">
    id,name, tools, rule, analyze, platform, translater, header, define, create_date, update_date,
    create_by, update_by, is_default, is_common, remarks, del_flag
  </sql>
</mapper>